@use "base.scss" as *;

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $primary-color;
    background-color: $accent-color;
  }
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $secondary-color;
  border-bottom: 2px solid $secondary-color;
  position: sticky;
  top: 0;
  z-index: 3;

  ul {
    display: flex;
    margin-left: 1.5rem;
  }

  li {
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
}

.navBar__logo {
  width: 90px;
  height: 90px;
}

.navBar__icon {
  margin-right: 0.5rem;
  color: $secondary-color;
}

#hero {
  height: 100vh;
  color: $secondary-color;
}

.hero__content {
  padding-top: 10%;
  max-width: 800px;
  margin: 0 auto;
}

#about {
  margin-bottom: 20rem;
}

.about__text {
  max-width: 700px;
  margin: 0 auto;
}

.projects__cards {
  position: relative;
  height: 350px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto 10rem auto;
  // background-color: $secondary-color;
  color: $primary-color;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover > div:first-child {
    transform: translateX(-56%);
  }
  &:hover .projects__card--1a {
    opacity: 1;
    transform: translateX(50%);
  }
}

.projects__card--1 {
  position: absolute;
  height: 350px;
  max-width: 500px;
  width: 100%;
  z-index: 2;
  transition: transform 500ms ease-in;

  &::before {
    content: "";
    background: rgba(0, 0, 255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.projects__card--1a {
  position: absolute;
  height: 350px;
  max-width: 500px;
  width: 100%;
  background-color: #e25822;
  opacity: 0;
  transition: transform, opacity, 500ms ease-in;
}

.projects__card--2 {
}

.projects__card--2a {
}

.projects__card--3 {
}

.projects__card--3a {
}

.projects__card--4 {
}

.projects__card--4a {
}

#footer {
  background-color: $secondary-color;
  color: $primary-color;
}
