@use "base.scss" as *;

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  animation-name: modal-open;
  animation-duration: 1s;

  .modal__btn--close {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.5rem 0.75rem 0rem 0rem;
  }

  &__inner {
    background-color: $primary-color;
    border: 2px solid $accent-color;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 750px;
    width: 100%;
    padding: 3rem;
    padding-top: 2rem;

    & .modal__content {
      border: 1px solid $accent-color;
    }
  }

  &__btn--close {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.5rem 0.75rem 0rem 0rem;
    transition: color 200ms ease;

    &:hover {
      color: $accent-color;
    }
  }

  &.show-modal {
    display: block;
  }
}

@keyframes modal-open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 1;
}

.btn {
  &__main {
    @extend %btn-shared;
    color: $primary-color;
    background-color: $accent-color;
    position: relative;
    overflow: hidden;
    transition: all 400ms ease;
    max-width: 195px;
    width: 100%;

    > span {
      transition: transform 400ms ease;
      padding-left: 12px;
    }

    &:hover {
      border: 2px solid $accent-color;
      color: $accent-color;

      .fa-arrow-right {
        opacity: 1;
        animation: in 600ms ease;
        animation-fill-mode: forwards;
      }
    }

    .fa-arrow-right {
      opacity: 0;
      animation: out 250ms ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $primary-color;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 400ms ease;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  &__secondary {
    @extend %btn-shared;
    color: $secondary-color;
    background-color: $primary-color;
    padding: 0.7rem 1rem;
  }
}

@keyframes in {
  from {
    transform: translateX(-100%) scale(0);
  }
  to {
    transform: translateX(100%) scale(1.5);
  }
}

@keyframes out {
  from {
    transform: translateX(100%) scale(1.5);
    opacity: 1;
  }
  to {
    transform: translateX(650%) scale(1.5);
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;

  &.appear {
    opacity: 1;
  }
}

// Navbar

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  color: $primary-color;
  border-bottom: 2px solid $accent-color;
  position: sticky;
  top: 0;
  z-index: 4;
  padding: 0.5rem 5rem;

  ul {
    display: flex;
    margin-left: 1.5rem;

    li {
      padding: 0.5rem;
      margin: 0 0.5rem;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: $accent-color;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  .navBar__icon {
    display: inline-block;
    margin-right: 0.5rem;
    color: $primary-color;
    transition: transform 250ms ease;

    &:hover {
      transform: translateY(-10%);

      .fa-github {
        color: #7d8491;
      }

      .fa-linkedin {
        color: #0072b1;
      }

      .fa-twitter {
        color: #1da1f2;
      }
    }
  }
}

// Hero Section

#hero {
  height: 100vh;
  color: $secondary-color;

  .hero__content {
    padding-top: 12rem;
    max-width: 800px;
    margin: 0 auto;

    .hero__title {
      margin-left: 2rem;
      margin-bottom: 0.5rem;
    }

    span {
      transition: padding-right 250ms ease;
    }
  }
}

// About Section

#about {
  margin-bottom: 21rem;
  scroll-margin-top: 250px;

  .about__text {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    padding-left: 2rem;
  }
}

// Project Section

#projects {
  scroll-margin-top: 100px;

  .projects__cards {
    margin: 0 auto 10rem auto;
    position: relative;
    height: 430px;
    max-width: 525px;
    transition: all 400ms ease;

    &--expand {
      max-width: 1100px;

      .projects__card__left::before {
        opacity: 0;
      }
      .projects__card--1::after,
      .projects__card--2::after,
      .projects__card--3::after,
      .projects__card--4::after {
        opacity: 0;
      }
    }
  }
}

.projects__card__left {
  position: absolute;
  height: 430px;
  max-width: 525px;
  z-index: 2;
  transition: transform 750ms ease;

  > img {
    border-radius: 5px;
    border: 2px solid $accent-color;
  }

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    transition: opacity 400ms ease;
  }
}

.projects__card__right {
  position: absolute;
  top: 0;
  left: 0;
  height: 430px;
  max-width: 525px;
  width: 100%;
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 5px;
  transition: all 400ms ease;

  & > h1 {
    text-decoration: underline $accent-color;
  }

  &--slide {
    transform: translateX(102%);
  }
}

.projects__card__text {
  max-width: 450px;
  margin: auto;
  margin-bottom: 1rem;
}

.projects__tech {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.projects__logo {
  display: inline-block;
  width: 35px;
  height: 35px;

  > img {
    width: auto;
  }
}

.projects__design > p {
  margin-bottom: 0.5rem;
}

.projects__built > p {
  margin-bottom: 0.5rem;
}

.projects__built div:nth-of-type(3) {
  margin-right: 0.85rem;
}

@media (hover: hover) {
  .projects__links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    &__link {
      transition: opacity, color, 250ms ease, background-color 400ms ease;
      max-width: 130px;
      width: 100%;

      &:hover {
        background-color: $accent-color;
        color: $primary-color;

        > span {
          padding-right: 10px;
        }
      }
    }

    span {
      transition: padding-right 250ms ease;
    }

    &__link svg {
      transition: transform 250ms ease;
    }

    &__link:hover svg {
      transform: scale(1.5);
    }
  }
}

.projects__card--1 {
  &::after {
    content: "Project 1";
    position: absolute;
    top: 45%;
    left: 50%;
    width: 150px;
    height: 40px;
    transform: translate(-50%, -55%);
    border-radius: 5px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    border: 2px solid $primary-color;
    color: $primary-color;
    transition: opacity 400ms ease;
  }
}

.projects__card--2 {
  &::after {
    content: "Project 2";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 150px;
    height: 40px;
    transform: translate(-50%, -60%);
    border-radius: 5px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    border: 2px solid $primary-color;
    color: $primary-color;
    transition: opacity 450ms ease;
  }
}

.projects__card--3 {
  &::after {
    content: "Project 3";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 150px;
    height: 40px;
    transform: translate(-50%, -60%);
    border-radius: 5px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    border: 2px solid $primary-color;
    color: $primary-color;
    transition: opacity 450ms ease;
  }
}

.projects__card--4 {
  &::after {
    content: "Project 4";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 150px;
    height: 40px;
    transform: translate(-50%, -60%);
    border-radius: 5px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    border: 2px solid $primary-color;
    color: $primary-color;
    transition: opacity 450ms ease;
  }
}

#contact {
  padding-top: 10rem 0 6rem 0;
  scroll-margin-top: 120px;

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    background-color: $secondary-color;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
    opacity: 0.75;
    transition: opacity, box-shadow, 500ms ease;

    &:hover {
      opacity: 1;
      box-shadow: none;
    }

    &__text-fields {
      display: flex;
      flex-direction: column;
      width: 75%;
    }

    .text-input {
      padding: 0.5rem 1rem;
      background: transparent;
      border: none;
      border-bottom: 2px solid $primary-color;
      color: $primary-color;
    }

    .message-input {
      height: 100px;
      font-family: $font-family;
    }

    & > button:hover {
      background-color: $accent-color;
      color: $primary-color;
    }

    & > button svg {
      transition: transform, padding-left, color, 250ms ease;
    }

    & > button:hover svg {
      transform: scale(1.5) translateX(25%) translateY(-20%);
      padding-left: 0.1rem;
      color: $primary-color;
    }
  }

  button[type="submit"] {
    width: 100%;
    max-width: 185px;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font-family;
    padding: 0.8rem 2rem;
    transition: opacity, color, 250ms ease, background-color 400ms ease;
  }
}

#footer {
  background-color: $secondary-color;
  color: $primary-color;
  border-top: 2px solid $accent-color;
}
