@use "base.scss" as *;

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $primary-color;
    background-color: $accent-color;
  }
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $secondary-color;
  border-bottom: 2px solid $secondary-color;
  position: sticky;
  top: 0;
  z-index: 3;

  ul {
    display: flex;
    margin-left: 1.5rem;
  }

  li {
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
}

.navBar__logo {
  width: 90px;
  height: 90px;
}

.navBar__icon {
  margin-right: 0.5rem;
  color: $secondary-color;
}

#hero {
  height: 100vh;
  color: $secondary-color;
}

.hero__content {
  padding-top: 10%;
  max-width: 800px;
  margin: 0 auto;
}

#about {
  margin-bottom: 20rem;
}

.about__text {
  max-width: 700px;
  margin: 0 auto;
}

.projects__cards {
  position: relative;
  height: 350px;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto 10rem auto;
  background-color: $secondary-color;
  color: $primary-color;
  overflow: hidden;
}

%projects__card__left {
  position: absolute;
  left: 25%;
  height: 350px;
  max-width: 500px;
  width: 100%;
  transition: 1s;

  &::before {
    content: "";
    background: rgba(0, 0, 255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 1s;
  }

  &:hover::before {
    background: rgba(0, 0, 0, 0);
  }

  &:hover {
    transition: 1s;
    transform: translateX(-254px);
  }
}

%projects__card__right {
  position: absolute;
  right: 0;
  height: 350px;
  max-width: 500px;
  width: 100%;
  background-color: #e25822;
  display: none;
}

.projects__card--1 {
  @extend %projects__card__left;
}

.projects__img--1 {
}

.projects__card--1a {
  @extend %projects__card__right;
}

.projects__card--2 {
  @extend %projects__card__left;
}

.projects__card--2a {
  @extend %projects__card__right;
}

.projects__card--3 {
  @extend %projects__card__left;
}

.projects__card--3a {
  @extend %projects__card__right;
}

.projects__card--4 {
  @extend %projects__card__left;
}

.projects__card--4a {
  @extend %projects__card__right;
}

#footer {
  background-color: $secondary-color;
  color: $primary-color;
}
