@use "base.scss" as *;

// Tablets & Smaller
// @media (max-width: 768px) {
//   #header-home {
//     height: 30rem;

//     .header-content {
//       padding-top: 5rem;
//     }
//   }
// }

// Phones
@media (max-width: 500px) {
  .btn {
    max-width: unset;
    width: unset;

    &__main {
      font-size: 1.1rem;
      margin-left: 0rem;

      &:hover {
        display: none;
      }

      &::after {
        display: none;
      }

      > svg {
        display: none;
      }
    }
  }

  #navBar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;

    & .navBar__logo {
      margin: 0.5rem 1.5rem 0.25rem 0;
    }

    .navBar__social {
      display: none;
    }

    > ul {
      margin: 0;
      margin-left: 0.5rem;

      > li::after {
        display: none;
      }
    }
  }

  #hero {
    .hero__content {
      padding-top: 4rem;

      .hero__title {
        margin: 0 auto 0.5rem auto;
        padding: 0 1rem;
      }

      .hero__text {
        font-size: 1.25rem;
        padding: 0 1.5rem;
      }
    }
  }

  #about {
    scroll-margin-top: 200px;
    margin-bottom: 10rem;

    .about__title {
      font-size: 3rem;
      margin-right: 0.5rem;
    }

    .about__text {
      font-size: 1rem;
    }
  }

  #projects {
    scroll-margin-top: 125px;

    .projects__title {
      font-size: 3rem;
      margin-bottom: 3rem;
      padding-right: 1rem;
    }

    .projects__text {
      font-size: 1rem;
    }
  }

  #contact {
    scroll-margin-top: 150px;
    margin-bottom: 2rem;

    .container {
      padding: 0;
    }

    .contact__title {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .contact__form {
      margin: 0;
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
      background-color: $primary-color;

      .text-input {
        color: $secondary-color;
        border-bottom: 2px solid $secondary-color;
      }
    }
    button[type="submit"] {
      width: 50%;
      background-color: $secondary-color;
      color: $primary-color;
      padding: 0.8rem 2rem;
    }
  }

  #footer {
    .footer__content {
      padding: 0 2rem;
    }
  }
}
